{{> inicio }}
{{> navbar }}
<div class="row">
    <div class="col-7">
        <h1>Prueba de about</h1>
    </div>

    <div class="col-5">  
        <img src="https://www.definicionabc.com/wp-content/uploads/Im%C3%A1gen-Vectorial.jpg" class="img-thumbnail">
    </div>
</div>
{{> fin }}